@CHARSET "UTF-8";

.error{
	color: #000000;
	background-color: #ff0000;
	width: 25%;
	
}
.sucess{
	color: #000000;
	background-color: #00ff00;
	width: 25%;
}
body {
    background: #ededed;
}
header {
    padding: 2em 0;
    margin-bottom: 2em;
}
header h1 {
    font-size: 2em;
}
header h1 small:before  {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}
footer {
    background: #ccc;
}