			<footer class="clearfix">
	            <div class="ink-grid">
	                <ul class="unstyled inline half-vertical-space">
	                    <li><a href="About">About</a></li>
	                    <li><a href="Contactos">Contactos</a></li>
	                </ul>
	                <p class="note">Criado para a disciplina de IS. Paulo Coito, aluno 2015239805</p>
	            </div>
	        </footer>
		</div>
    </body>
</html>